{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'product_page/css/style.css' %}">
        <title>Товари</title>
    </head>
    <body>
        <h1>Наші товари</h1>
        <div id="stock">
            <div class="product">
                <img src="https://content1.rozetka.com.ua/goods/images/big/364623744.jpg" alt="err1">
                <p>Apple IPhone 15 128GB Black</p>
            </div>
            <div class="product">
                <img src="https://images.samsung.com/is/image/samsung/p6pim/de/feature/163953138/de-feature--thinsp--531465333?$FB_TYPE_A_MO_JPG$" alt="err1">
                <p>Samsung Galaxy M33</p>
            </div>
            <div class="product">
                <img src="https://content2.rozetka.com.ua/goods/images/big/172266668.jpg" alt="err1">
                <p>Навушники JBL TUNE 510 BT Black</p>
            </div>
            <div class="product">
                <img src="https://m.media-amazon.com/images/I/71ufHRvvHaL.jpg" alt="err1">
                <p>Акустична система JBL Go 3 Black</p>
            </div>
            <div class="product">
                <img src="https://content2.rozetka.com.ua/goods/images/big/353759856.jpg" alt="err1">
                <p>Смарт-годинник Samsung Galaxy Watch 6 40mm Black </p>
            </div>
        </div>
    </body>
</html>