body{
    background-color: rgb(117, 139, 202);
}
h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 50px;
    color: white;
    -webkit-text-stroke: 2px black;
}
p{
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
a{
    text-decoration: none;
}
.headline{
    color: white;
    -webkit-text-stroke: 2px black;
}