{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="{% static 'contact_page/css/style.css' %}">
</head>
<body>
    <h1>Контакти</h1>
    <p>
        <label class="headline">Телефон:</label>
        +380123456789
    </p>
    <p>
        <label class="headline">Адреса: </label>
        <a href="https://maps.app.goo.gl/ZkLPNBr3fvU4t5FX8">Зоряний бульвар, 1А, Дніпро</a>
    </p>
    <p>
        <label class="headline">Телеграм:</label>
        @dmytroPysmennyi
    </p>
</body>
</html>